*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}
img{
    width:100px;
    height: 100px;
}
.conatiner{
    width: 80%;
    max-width: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 20px 30px;
    margin: 100px auto;
    background:linear-gradient(to right, rgb(0, 255, 115),teal);
    border-radius: 20px;
    color: #fff;

    
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: none;
    outline: none;
    color: #555;
    background-color: #ebebeb;
    height: 60px;
    font-size:18px;
    border-radius: 30px;
    padding: 10px 20px;
    flex:1;
    margin-right: 10px;

}
.searchBtn{
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
    color: #555;
    background-color: #ebebeb;
    cursor: pointer;
}

.searchBtn img{
    width:40px;
    height:40px;
}

.weather{
    margin: 30px;
}
.weather h1{
    font-size: 5rem;
    font-weight: 600;
}
.weather h3{
font-size: 2rem;
margin-bottom: 20px;
}
.weather img{
    border-radius: 50%;     
    clip-path: circle(50%);
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
    gap:20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    
}

.col img{
    width: 70px;
    height:70px;
    margin-right: 10px;
}
/* .humidity{
    display: block;
} */

.colDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 18px;
}
.weather{
    display: none;
}

.error{
    display: none;
    text-align: left;
    padding: 10px;
    color: red;
}